@layout("/common/layout.html",{requiredEditor:true}){
<form action="${ctxPath}/bbs/topic/saveModule" method="post" id="post-form" onsubmit="return ajaxSubmit(this)">
	<fieldset>
		<legend>新增板块</legend>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-8">
					<p>板块标题</p>
					<input type="text" class="form-control " name="title" placeholder="请输入板块标题">
					<br>
				</div>
				<div class="col-sm-8">
					<p>板块管理员</p>
					<input type="text" class="form-control " name="detail" placeholder="请输入板块管理员名称">
				</div>
			</div>
		</div>
		<div class="btn-group pull-right">
			<button class="btn btn-sm btn-primary submit-btn" title="Send" type="submit"><i class="fa fa-check"></i> 提交</button>
			<button class="btn btn-sm btn-default reset-btn" title="Cancel" type="reset"><i class="fa fa-times"></i> 重置</button>
		</div>
	</fieldset>
</form>
 @}